repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff format .
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff_lint
        name: ruff_lint
        entry: poetry run ruff check . --fix
        language: system
        pass_filenames: false
        always_run: true

      - id: lint
        name: lint
        entry: poetry run mypy .
        language: system
        pass_filenames: false
        always_run: true

      - id: test
        name: test
        entry: poetry run pytest tests
        language: system
        pass_filenames: false
        always_run: true